.loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('rail.gif');
    background-repeat: no-repeat;
    background-position: center;
}
